@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider-mobile {
  src: url("../images/pattern-divider-desktop.svg");
}

.dice {
  src: url("../images/icon-dice.svg");
}

.container {
  background-color: hsl(217, 19%, 24%);
  text-align: center;
  margin: 0 auto;
  max-width: 90vw;
  max-height: 60vh;
  border-radius: 15px;
  box-shadow: 7px 7px 5px 0px hsl(218, 23%, 16%);
  position: relative;
}

.number {
  color: hsl(150, 100%, 66%);
  padding-top: 2.5rem;
  font-family: Arial;
  letter-spacing: 3px;
  font-weight: 600;
}

.quote {
  margin: 1.5rem 2rem;
  color: hsl(193, 38%, 86%);
  font-size: 28px;
}

.divider-mobile {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.dice-Btn {
  position: absolute;
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
  background: hsl(150, 100%, 66%);
  padding: 15px 17px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}


@media (min-width: 768px) {
  .container {
    max-width: 45vw;
  }
}